<server description="Sample Liberty server">

    <featureManager>
        <feature>restfulWS-3.0</feature>
        <feature>jsonb-2.0</feature>
        <feature>jsonp-2.0</feature>
        <feature>cdi-3.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>mpRestClient-3.0</feature>
        <feature>appSecurity-4.0</feature>
        <feature>servlet-5.0</feature>
        <feature>mpJwt-2.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="8080" />
    <variable name="default.https.port" defaultValue="8443" />

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*" 
                  httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" />

    <webApplication location="system.war" contextRoot="/" />

</server>